# Ignore the virtual environment folder (venv)
venv/

# Ignore all CSV files
*.csv
Authentic.csv
Fake.csv

# Ignore other potential large files
*.zip
*.tar.gz
*.tar.bz2
*.rar
*.7z

# Ignore logs, temporary files, and system files
*.log
*.bak
*.swp
*.tmp

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db

# Ignore Python bytecode
*.pyc
*.pyo
_pycache_/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/